*,
*:after,
*:before {
  box-sizing: border-box;
}

.deck {
  position: absolute;
  width: 10em;
  height: 15em;
  top: 50%;
  left: 50%;
  margin: -6.5em 0 0 -5em;
  -webkit-backface-visibility: hidden;
  font-family: 'Ubuntu', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.deck__item {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: .3em;
  border: 0.1em solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
  transform-origin: 90% 92%;
  transition: .3s;
}
.deck__item:hover ~ .deck__item {
  transform: rotate(120deg);
}
http://localhost/thatcrazyirishguy.github.io/#
.deck__item:last-of-type:after {
  content: "";
  position: absolute;
  left: 90%;
  top: 92%;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  background: white;
  margin: -.6em 0 0 -.6em;
  box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2);
}

.deck__item:last-of-type:before {
  content: "";
  position: absolute;
  right: .4em;
  bottom: .9em;
  width: 1.1em;
  height: .15em;
  background: silver;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.deck__link {
  text-decoration: none;
  display: block;
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.deck__icon {
  font-family: 'FontAwesome', sans-serif;
  font-size: 4em;
  color: black;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: .5em auto;
}

.deck__item--facebook {
  background: #3b5998;
  transform: rotate(-10deg);
}

.deck__item--github {
  background: #4183c4;
  transform: rotate(20deg);
}

.deck__item--twitter {
  background: #00a0d1;
  transform: rotate(0deg);
}

.deck__item--linkedin {
  background: #0e76a8;
  transform: rotate(10deg);
}
