* {
    margin: 0;
    padding: 0;
}

@media (max-width: 960px) {
    {
        zoom: 0.7;
    }
}

html,
body {
    height: 80%;
}

@keyframes moveclouds {
    from {
        transform: translate(500px, 0px);
    }
    to {
        transform: translate(-2000px, 0px);
    }
}

@-webkit-keyframes moveclouds {
    from {
        transform: translate(500px, 0px);
    }
    to {
        transform: translate(-2000px, 0px);
    }
}

#mountains {
    z-index: 2;
    position: absolute;
    bottom: 20%;
    margin-bottom: -16px;
    left: 10%;
}

#cloud1 {
    z-index: 2;
    position: absolute;
    top: 20%;
    right: 4%;
    -webkit-animation: moveclouds 140s linear infinite;
    -moz-animation: moveclouds 140s linear infinite;
    -o-animation: moveclouds 140s linear infinite;
}

#cloud2 {
    z-index: 1;
    position: absolute;
    top: 22%;
    right: 16%;
    -webkit-animation: moveclouds 120s linear infinite;
    -moz-animation: moveclouds 120s linear infinite;
    -o-animation: moveclouds 120s linear infinite;
}

.trees {
    width: 100%;
    height: 130px;
    z-index: 4;
    position: absolute;
    bottom: 20%;
    margin-bottom: -100px;
}

#ground {
    z-index: 1;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background: #879759;
}

#hills {
    position: absolute;
    left: 10%;
    margin-left: -120px;
    margin-bottom: -86px;
    bottom: 20%;
    z-index: 3;
}
