    html {
        height: 100%;
        width: 100%;
    }
    
    body {
        -webkit-font-smoothing: antialiased;
        height: 100%;
        margin: 0;
    }
    
    nav {
        background-color: rgba(0, 0, 0, .1);
    }
    
    nav li a {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12pt !important;
    }
    
    nav li a:hover {
        font-size: 13pt !important;
        -webkit-transition: font-size 1s;
        /* Safari */
        transition: font-size 1s;
    }
    
    .tabs .tab a {
        color: #0091ea;
    }
    
    .tabs .tab a:hover {
        color: #80d8ff;
    }
    
    .tabs .indicator {
        background-color: #0091ea;
    }
    
    .pacifico {
        font-family: 'Pacifico', cursive;
    }
    
    .brand-logo {
        margin-right: .5em;
    }
    
    .header-word-one,
    .header-word-two {
        z-index: 5;
        color: #fff;
        font-size: 132pt;
        font-family: 'Pacifico', cursive;
        position: absolute;
        left: 30%;
        top: 25%;
    }
    
    .header-word-two {
        left: 50%;
        top: 40%;
    }
    
    @media screen and (max-width: 1000px) {
        .header-word-one,
        .header-word-two {
            left: 0%;
            top: 15%;
        }
        .header-word-two {
            left: 0%;
            top: 50%;
        }
    }
    
    .header-wrapper {
        width: 100%;
        height: 100%;
        background: linear-gradient(#061b50, #3c739c, #c9e9f4, #e4989c, #061b50);
        background-size: 1000% 1000%;
        -webkit-animation: AnimationName 120s ease infinite;
        -moz-animation: AnimationName 120s ease infinite;
        -o-animation: AnimationName 120s ease infinite;
        animation: AnimationName 120s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 53% 0%
        }
        50% {
            background-position: 48% 100%
        }
        100% {
            background-position: 53% 0%
        }
    }
    
    @-moz-keyframes AnimationName {
        0% {
            background-position: 53% 0%
        }
        50% {
            background-position: 48% 100%
        }
        100% {
            background-position: 53% 0%
        }
    }
    
    @-o-keyframes AnimationName {
        0% {
            background-position: 53% 0%
        }
        50% {
            background-position: 48% 100%
        }
        100% {
            background-position: 53% 0%
        }
    }
    
    @keyframes AnimationName {
        0% {
            background-position: 53% 0%
        }
        50% {
            background-position: 48% 100%
        }
        100% {
            background-position: 53% 0%
        }
    }
    
    .avatar-circle {
        height: 15em;
        width: 15em;
    }
    
    .social-list li {
        margin: 0em 1em;
        display: inline;
    }
    
    .fa-git {
        color: #F03C2E;
    }
    
    .fa-facebook {
        color: #3A5795;
    }
    
    #about-me {
        background: transparent url("../images/poly.png") repeat scroll 0% 0%;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    
    #experience, .tabs {
        background: transparent url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/crossword.png") repeat scroll 0% 0%;
    }