.pacifico {
    font-family: "Pacifico", cursive;
}

h1.uppercase.header-text {
  margin-right: 0px;
}

.img-icon img {
    vertical-align: sub;
}

.list-inline>li.img-icon {
  padding: 0 4px;
}

a.logo {
    display: block;
    font-size: 20pt;
    font-weight: 300;
    color: white;
}

a.logo.logo-dark {
    color: #444;
    position: absolute;
    left: 1.8%;
    top: 1%;
}
#about-me{
	padding-bottom: 0px;
}

.logo-footer{
	margin-bottom: 60px;
}

.btn-project{
	margin-top: 40px;
	width:100%;
}

.social-list i{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.ti-twitter-alt:hover {
	color: #33CCFF;
}

.ti-linkedin:hover {
	color: #4875B4;
}

.ti-github:hover {
	color: #fc6d26;
}

.ti-facebook:hover {
	color: #3b5998;
}

.flex-next::before{
	color: #000 !important;
}

.flex-prev::before{
	color: #000 !important;
}
.cover{
    background-color: #194892;
}

.cover {
  background: linear-gradient(270deg, #355E9E, #5478B0,  #194892);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.totoro {
  opacity: 0.8;
  display: block;
  max-width: 350px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  background: #e0d69e;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  border-radius: 500px;
  margin-top: 60px;
  box-shadow: 0px -75px 0px -33px #736f5f, 0px -78px 0px -30px #000, 0px 0px 0px 5px #000, inset 0px 125px 0px 10px #736f5f, inset 0px 125px 0px 10px #736f5f, inset 0px 130px 0px 12px #000, 0px 50px 40px -20px rgba(0, 0, 0, 0.3);
  animation-name: wobble;
  -webkit-animation-name: wobble;
  animation-duration: 8.5s;
  -webkit-animation-duration: 8.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes wobble {
  0% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-1deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-1deg);
  }
}
.totoro:before {
  z-index: 2;
  content: '';
  position: absolute;
  display: block;
  width: 43px;
  height: 43px;
  border-radius: 500px;
  left: 37px;
  top: 12.5px;
  box-shadow: 46px -2px 0px -20px #fff, 48px -2px 0px -15px #000, 45px 0px 0px -5px #fff, 45px 0px 0px #000, 180px -2px 0px -20px #fff, 182px -2px 0px -15px #000, 185px 0px 0px -5px #fff, 185px 0px 0px #000, 115px 28px 0px -3px #736f5f, 142px 32px 0px 10px #736f5f, 90px 32px 0px 10px #736f5f, 115px 13px 0px -5px #000, 115px 43px 0px -5px #000;
}
.totoro:after {
  content: '';
  position: absolute;
  height: 80px;
  width: 40px;
  background: transparent;
  border-radius: 70% 70% 50% 50% / 120% 120% 20% 20%;
  top: -120px;
  left: -30px;
  box-shadow: 100px 50px 0px -8px #736f5f, 100px 50px 0px -8px #736f5f, 100px 0px 0px 0px #736f5f, 100px 0px 0px 5px #000, 100px 40px 0px -5px #000, 260px 50px 0px -8px #736f5f, 260px 0px 0px 0px #736f5f, 260px 0px 0px 5px #000, 260px 40px 0px -5px #000;
}

.gameboy {
  position: relative;
  display: none;
  margin: 20px auto;
  width: 422px;
  height: 697px;
  background: #eee;
  border-radius: 10px 10px 60px 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.1);
}
.gameboy:before {
  content: "";
  position: absolute;
  left:0;
  width: 100%;
  height: 31px;
  border-bottom: 4px solid #e0e0e0;
}
.gameboy:after {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  width: 334px;
  height: 31px;
  border-left: 4px solid #e0e0e0;
  border-right: 4px solid #e0e0e0;
  margin-left: 40px;
  margin-right: 40px;
}
.gameboy .screen-cont {
  position: relative;
  top: 60px;
  left: 40px;
  width: 342px;
  height: 272px;
  margin-bottom: 58px;
  background-color: #777;
  border-radius: 13px 13px 50px 13px;
}
.gameboy .screen-cont .screen {
  position: relative;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #bdae58;
  width: 225px;
  height: 205px;
  box-shadow: inset 3px 3px rgba(0,0,0,0.15);
}
.gameboy .screen-cont .screen .header {
  position: relative;
  top: -30px;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: right;
  font-size: 10px;
  font-family: sans-serif;
  color: #b3b3b3;
}
.gameboy .screen-cont .screen .header:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 12px;
  width: 90px;
  height: 3px;
  background-color: #8b1d90;
  box-shadow: 0 6px 0 #283593;
}
.gameboy .screen-cont .screen .header:after {
  content: "";
  position: absolute;
  right: -46px;
  top: 12px;
  width: 38px;
  height: 3px;
  background-color: #8b1d90;
  box-shadow: 0 6px 0 #283593;
}
.gameboy .screen-cont .screen .animated-text {
  opacity: 0;
  display: inline;
  position: relative;
  top: -26px;
  left: 30%;
  color: #8a891f;
  font-size: 17px;
  font-family: "Pretendo";
  z-index: 10;
}
.gameboy .screen-cont .screen .animated-text.end {
  opacity: 1;
  top: 50px;
  -webkit-transition: top 3s linear;
  -moz-transition: top 3s linear;
  -ms-transition: top 3s linear;
  -o-transition: top 3s linear;
  transition: top 3s linear;
}
.gameboy .screen-cont .screen .animated-text .copy {
  position: relative;
  display: inline;
  top: -2px;
  margin-left: 2px;
  font-size: 15px;
  font-family: monospace;
}
.gameboy .screen-cont .power {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100px;
  left: 20px;
  border-radius: 100%;
  background-color: #483e3e;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.gameboy .screen-cont .power:before {
  content: "BATTERY";
  position: relative;
  top: 18px;
  left: -10px;
  font-size: 8px;
  font-family: sans-serif;
  color: #b3b3b3;
}
.gameboy .controls-cont {
  display: block;
  position: relative;
  margin-top: 90px;
}
.gameboy .controls-cont .btn-direction {
  position: relative;
  margin-left: 40px;
  top: 60px;
}
.gameboy .controls-cont .btn-direction:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  background-color: #353535;
  border-radius: 100%;
}
.gameboy .controls-cont .btn-direction .vertical,
.gameboy .controls-cont .btn-direction .horizontal {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 90px;
  background: #444;
  border-radius: 5px;
}
.gameboy .controls-cont .btn-direction .vertical:before,
.gameboy .controls-cont .btn-direction .horizontal:before {
  content: "";
  position: relative;
  top: 99px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dedede;
}
.gameboy .controls-cont .btn-direction .vertical:after,
.gameboy .controls-cont .btn-direction .horizontal:after {
  content: "";
  position: relative;
  top: -32px;
  left: -5.6px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #dedede;
}
.gameboy .controls-cont .btn-direction .horizontal {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gameboy .controls-cont .btn-AB {
  position: absolute;
  top: 72px;
  left: 252px;
  width: 130px;
  height: 60px;
  background: #dfdfdf;
  border-radius: 30px;
  -webkit-transform: rotate(-25deg);
}
.gameboy .controls-cont .btn-AB:after {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  width: 44px;
  height: 44px;
  background: #a93671;
  box-shadow: 68px 0 #a93671;
  border-radius: 100%;
  -webkit-transform: rotate(180deg);
}
.gameboy .controls-cont .btn-start-select {
  position: absolute;
  top: 205px;
  left: 140px;
  height: 12px;
  width: 60px;
  background: #999;
  border-radius: 10px;
  -webkit-transform: rotate(-25deg);
  box-shadow: 57px 27px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf;
}
.gameboy .speakers {
  content: "";
  position: relative;
  height: 70px;
  width: 8px;
  top: 260px;
  left: 300px;
  background: #ddd;
  border-radius: 4px;
  -webkit-transform: rotate(-25deg);
  box-shadow: 20px 0 #ddd, 40px 0 #ddd, 60px 0 #ddd, 80px 0 #ddd, 100px 0 #ddd;
}

.gameboy .screen-cont .power.power-on {
  background: rgb(206, 49, 55);
  border: 0.1em solid rgb(161,30,45);
  }

#gameboyAlert {
  display: none;
}

#gameboyControlsAlert {
  display: none;
}

#gameboyCanvas {
  z-index: 1;
  position: relative;
  top: -30px;
  margin-left: auto;
  margin-right: auto;
  background: #bdae58;
  width: 225px;
  height: 205px;
  box-shadow: inset 3px 3px rgba(0,0,0,0.15);
}
